.primary {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(20, 96, 247);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.primary:hover {
  background-color: rgb(53, 118, 249);
}

.default {
  border: 1px solid rgba(0, 0, 0, 0.253);
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.default:hover {
  border-color: rgb(53, 118, 249);
  color: rgb(53, 118, 249);
}
.dashed {
  border: 1px dashed rgba(0, 0, 0, 0.253);
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.dashed:hover {
  border-color: rgb(53, 118, 249);
  color: rgb(53, 118, 249);
}

.text {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.link {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: rgb(20, 96, 247);
}
.link:hover {
  color: rgb(82, 138, 251);
}
